#pen-squared-root,
#pen-squared-root * {
    all: initial;
    touch-action: manipulation;
}

#pen-squared-root {
    position: fixed;
    inset: 0;
    z-index: 2147483646;
    overflow: hidden;
}

#pen-squared-root canvas {
    outline: none;
}

#pen-squared-root button {
    position: fixed;
    inset: 2vw auto auto 2vw;
    z-index: 2147483647;

    width: 64px;
    height: 64px;

    background-color: rgb(0 0 0 / 80%);
    backdrop-filter: blur(4px);
    border: none;
    border-radius: 50%;

    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        cursor: pointer;
    }
}
