#pen-squared-root {
    all: initial;

    position: fixed;
    inset: 0;
    z-index: 2147483646;
    overflow: hidden;
}

#pen-squared-root canvas {
    all: initial;
    touch-action: none;

    outline: none;
}

#p2-panel {
    all: initial;

    position: fixed;
    inset: 50% 2vw auto auto;
    transform: translateY(-50%);
    z-index: 2147483647;

    width: 56px;
    padding: 16px 0;

    background-color: white;
    border-radius: 28px;

    box-shadow: 0 10px 20px hsl(0deg 0% 0% / .15),
                0  3px  6px hsl(0deg 0% 0% / .10);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;

    & > hr {
        all: initial;

        width: 30px;
        height: 0;
        margin: 12px 0 24px 0;

        background: transparent;
        border: none;
        border-bottom: 1px solid rgb(140 140 140);
    }
}

.p2-panel-btn {
    all: initial;
    touch-action: none;

    width: 48px;
    height: 48px;
    padding: 0;

    background-color: transparent;
    border: none;
    border-radius: 24px;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        cursor: pointer;
    }

    & > span {
        all: initial;

        display: block;
        width: 24px;
        height: 24px;

        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;

        cursor: inherit;
    }
}

#p2-panel-colors {
    all: initial;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    & > button {
        all: initial;
        touch-action: none;

        width: 30px;
        height: 30px;
        padding: 0;
        border-radius: 50%;

        transition: transform 50ms ease-in-out;

        &:hover {
            cursor: pointer;
        }
    }
}
